<!DOCTYPE html>
<html>
  <head>
    <title>moroblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <!-- ナビゲーションここから -->
    <nav>
      <div class="nav-wrapper container ">
        <%= link_to "Blog", root_path, class: 'brand-logo center' %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li><%= link_to "投稿", new_blog_path, method: :get %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <!-- ナビゲーションここまで -->

    <div class="main-wrapper">
      <%= yield %>
    </div>
    

    <!-- フッターここから -->
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container footer-text">
        © 2014 Copyright Text
        </div>
      </div>
    </footer>
    <!-- フッターここまで -->

  </body>
</html>
